body
{
  background-color:#EFFFFD;
}
hr
{
  /* background-color: white; */
  border-style: none;
  border-top-style: dotted;
  /* border-style: dotted none none; */
  /* height: 2px; */
  color: grey;
  border-width: 5px;
  width: 10%;
}
img
{
  height: 150px;
}
h1,h3
{
  color: #66BFBF;
}
